:root{
    --primary-bg: #141414;
    --secondary-bg: #292929;
    --primary-color: #F4A261;
    --text-color: #C6EBD2;
}

body{
    font-family: 'Nunito Sans';
    margin: 0;
    background-image: url("/images/background.png");
}


.login_box{
    margin-inline: 10vw;
    margin-block: 15vh;
    padding-inline: 5vw;
    padding-block: 5vh;
    background: var(--secondary-bg);
    border-radius: 2em;
    color: #EBEBEB;
}

input{
    background: var(--secondary-bg);
}

legend{
    font-size: 2em;
    font-weight: bold;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2em;
}


.login{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    width: 100%;
    margin-bottom: 1em;
}

#fav{
    position: absolute;
    right: 0.1vw;
    font-size: 2vw;
    color: var(--text-color);
    text-align: center;
    margin: 0;
}

#fav img{
    width: 10vw;
    height: 10vw;
}

#login_button{
    margin-top: 20%;
    background: var(--primary-color);
    border: none;
    border-radius: 1em;
    width: 50%;
    height: 3em;
    cursor: pointer;
    align-self: center;
}


@media (width < 800px) {
    #fav{
        display: none;
    }

    .input_value{
        width: 50vw;
    }
}

@media (width < 400px) {
    fieldset{
        border: none;
        padding: 1em;
    }

    legend{
        text-align: center;
    }
}



