:root{
    --primary-bg: #141414;
    --secondary-bg: #1F1F1F;
    --primary-color: #F4A261;
    --text-color: #C6EBD2;
}

body{
    font-family: 'Nunito Sans';
    margin: 0;
    background-color: var(--primary-bg);
}

main{
    padding: 0 15px 0 15px;
}

h2{
    color: var(--text-color);
}

.scroller_new{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin: 0 20px 0 20px;
}

.scroller_new::-webkit-scrollbar{
    width: 0;
}

.scroll_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 264px;
    max-height: 433px;
    padding: 20px 12px 12px 12px;
    border-radius: 12px;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    font-size: 20px;
}

.scroll_item>p{
    margin: 0;
}

.price{
    align-self: flex-start;
    color: #fff;
}

span{
    font-size: 16px;
    color: var(--text-color);
}

.add_to_cart_button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: #EBEBEB;
    cursor: pointer;
}

.name, .image_source{
    cursor: pointer;
}


.add_to_cart_button::after{
    content: "\f217";
    margin: 4px;
    font-family: FontAwesome;
}

.multiple_scrollers{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

@media (width < 400px) {
    .scroller_new{
        margin: 0;
    }
}
