:root{
    --primary-bg: #141414;
    --secondary-bg: #1F1F1F;
    --primary-color: #F4A261;
    --text-color: #C6EBD2;
}


footer{
    display: flex;
    flex-direction: column;
    padding: 32px 0px 18px 130px;
    margin-top: 64px;
    background-color: var(--secondary-bg);
    color: var(--text-color);
}

.foot{
    display: flex;
    flex-direction: row;
    gap: 130px;
}

.footer_nav1{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-items: center;
}

.footer_nav2{
    display: flex;
    gap: 16px;
}

.foot_button{
    width: 32px;
    height: 32px;
    color: var(--primary-bg);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 8px;
    font-family: FontAwesome;
    cursor: pointer;
}

#yt_button::before{
    content: "\f16a";
    font-family: FontAwesome;
}

#tg_button::before{
    content: "\f2c6";
    font-family: FontAwesome;
}

#vk_button::before{
    content: "\f189";
    font-family: FontAwesome;
}

address{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.footer_div{
    background-color: var(--secondary-bg);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    vertical-align: middle;
    gap: 8px;
}

.footer_div>*{
    margin: 0;
}

hr{
    margin: 0;
    margin-top: 18px;
}


@media (width < 990px){
    footer{
        padding: 0;
        padding-left: 16px;
        padding-top: 16px;
    }
    .foot{
        flex-direction: column;
    }
}